html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;
}

#message, #notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  font-size: 1.5rem;
  order: 1;
}

.board {
  display: flex;
  flex-wrap: wrap;
  order: 2;
}

.board div {
  color: green;
  font-size: 2rem;
  width: 75px;
  height: 75px;
  border: 1px #ccc dotted;
  border-radius: 10%;
  background-color: white;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board div:hover {
  background-color: white;
}

div.mine, div.mine:hover {
  background: no-repeat center/60% url("images/bomb.svg") crimson;
}

div.hidden {
  background: #eee;
}

div.hidden:hover {
  background: #ccc;
}

div.marked, div.marked:hover {
  background: no-repeat center/60% url("images/mark.svg") deepskyblue;
}

div.resetBtn {
  order: 3;
}

div.changeDifficulty {
  order: 1;
}

#menu {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  background-color: white;
  width: 90vw;
  height: 200px;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  left: 30px;
  margin: 60px 0 60px 0;
  order: 4;
}

.github-mark {
  position: absolute;
  left: 5%;
}

.github-logo {
  position: absolute;
  right: 5%;
}

@media only screen and (min-width: 768px) {
  #menu {
    flex-direction: column;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    background-color: white;
    width: 200px;
    height: 300px;
    position: absolute;
    text-align: center;
    left: 75%;
    top: 60px;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    margin-bottom: 0;
  }
  
  .github-mark {
    position: relative;
    left: 0;
  }

  .github-logo {
    position: relative;
    right: 0;
  }
}